.mobile-header{
    padding-top: 1rem;
    padding-bottom: 1rem;
    
    @include pad{
        display: none;
    }
}
.mobile-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-toggler{
    margin-right: .5rem;
    span{
        padding-top: 0.4rem;
        padding-bottom: 0.4rem;
        font-size: 1.5rem;
    }
}
.logo{
    img{
        display: block;
        width: 45px;
        height: 45px;
    }
}
.mobile-overlay{
    width: 56px;
    height: 56px;
}

.pc-container{
    height: 100vh;

    @include pad{
        display: flex;
    }
}
.pc-menu{
    display: none;
    box-shadow: 0 0 5px 1px #f6f6f6;
    padding-top: 3rem;
    @include pad{
        display: flex;
        flex-direction: column;
    }
}

.title{
    font-size: 1.25em;
    font-weight: 400;
    margin-bottom: 1rem;
}

.subtitle{
    font-size: 0.875em;
    font-weight: 300;
    margin-bottom: 1rem;
}


.menu-title{
    margin-left: 3rem;
    margin-right: 6rem;
}

.offcanvas{
    height: 100vh;
}

.close-btn{
    margin-top: 1rem;
    border: 0px solid #000;
    background-color: transparent;
}
.offcanvas-body{
    display: flex;
    justify-content:center;
    gap:1rem;

    a{
        display: inline-flex;
    }

    & >div:first-child{
        flex-grow:.25;
    }
}

.list-link{
    display: flex;
    align-items: center;
    gap:.5rem;
    font-size: .875rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    i{
    font-size: 0.35rem;
    }
}



.contact-list{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
